<%- include("partials/header") -%>
<div class="box todo">
    <div class="item item-list">
        <p class="items" style="text-align: center;">Hello <%=name%></p>
        <a class="items title" href="/logout">Logout</a>
    </div>
</div>

<%- include("newItem") -%>


<div class="box todo">
    <h2 style="color: orangered">ToDo</h2>
    <% newListItems.forEach((item) => {%>
    <%if(item.checked !== true){%>
    <div class="item item-list">
        <div>
            <form action="/update" method="POST">
                <div class="items">
                    <input type="checkbox" onChange=" this.form.submit()">
                    <input type="hidden" name="itemId" value="<%= item._id%>" />
                    <input type="hidden" name="checked" value="<%= item.checked%>" />
                    <p><%= item.title %></p>
                </div>
            </form>
        </div>
        <div>
            <form action="/delete" method="POST"> <button class="delete-button" type="submit" name="deleteItem"
                    value="<%= item._id %>">❌
            </form>
        </div>
    </div>
    <%}%>
    <% }) %>
</div>

<div class="box completed">
    <h2 style="color:green">Completed</h2>
    <% newListItems.forEach((item) => {%>
    <%if(item.checked === true){%>
    <div class=" item item-list">
        <div>
            <form action="/update" method="POST">
                <div class="items">
                    <input type="checkbox" checked onChange=" this.form.submit()">
                    <input type="hidden" name="itemId" value="<%= item._id%>" />
                    <input type="hidden" name="checked" value="<%= item.checked%>" />
                    <p style="text-decoration: line-through;text-decoration-color: green;"><%= item.title %></p>
                </div>
            </form>
        </div>
        <div>
            <form action="/delete" method="POST"> <button class="delete-button" type="submit" name="deleteItem"
                    value="<%= item._id %>">❌
            </form>
        </div>
    </div>
    <%}%>
    <% }) %>

</div>

<br><br>

<%- include("partials/footer") -%>