<%- include('partials/header') %>

<div class="box google">
  <h3 style="color:red;text-align: center;"><%=error%></h3>
  <div class="userinput-list">
    <div class="userinput">
      <a class="" href="/auth/google" role="button">
        Sign Up with Google
      </a>
    </div>
  </div>
</div>

<div class="box todo">

  <div class="userinput-list">

    <!-- Makes POST request to /login route -->
    <form action="/register" method="POST">
      <div class="userinput">
        <input required minlength="6" minlength="12" type="text" name="name" value="<%=name%>" placeholder="Your Name">
      </div>
      <div class="userinput">
        <input required minlength="8" minlength="20" type="email" name="username" value="<%=username%>"
          placeholder="Email">
      </div>
      <div class="userinput">
        <input required minlength="8" minlength="12" type="password" name="password" placeholder="Password">
      </div>
      <div class="userinput">
        <input required minlength="8" minlength="12" type="password" name="password1" placeholder="Retype Password">
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>



<br><br>

<%- include('partials/footer') %>